<!doctype html>

<html>
<head>
	<title>About</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootswatch.min.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">
</head>

<body>
	<div class="top_bar">
		<div class="menu_bar">
			<div class="btn-group">
		  		<button type="button" id="home_dropdown" class="btn btn-default btn-lg" data-toggle="dropdown">
  				<span class="glyphicon glyphicon-home"></span>
				</button>
		  		<ul class="dropdown-menu" role="menu">
		    		<li><a href="/menu">Home Menu</a></li>
		    		<li><a href="/about">About</a></li>
		  		</ul>
			</div>
		</div>
		<h6 id="abouttitle" class="subtitle">About</h6>
	</div>
	
<div class="container">
	
	<ul class="nav nav-tabs ">
  		<li class="active"><a href="/newp">New</a></li>
  		<li><a href="/existing">Existing</a></li>
  		<li><a href="/matches">Matches</a></li>
	</ul>
    <p><p>
    	<b> UCSD Rentals </b>
    		<p>This app provides UCSD students with a simple way to find and rent out places to live in La Jolla. 
    			<p>Being only accessible to UCSD students, you can rest assured that when using this app, you will only be matched with your peers.
    				<p></p></p></p>	
    </p></p>
</div>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/handlebars.js"></script>
	<script src="js/ucsdrentals.js"></script>

</body>
</html>
