<!doctype html>

<html>
<head>
	<title>My HCI Friends</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/hci-friends.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
<div class="container">
	<h1>My HCI Friends</h1>
	{{#each friends}}
    <div class="friend">
    	<img src="{{imageURL}}" class="img-responsive img-rounded"/>
    	<h3><a href="#">{{name}}</a></h3>
    	<p>{{description}}</p>
    </div>
    {{/each}}

	<form id="addFriendForm" role="form" method="get" action="/add">
		<h3>Add a friend</h3>
	    <div class="form-group">
	      <label for="name">Name:</label>
	      <input type="text" class="form-control" id="name" placeholder="Name" name="name">
	    </div>
	    <div class="form-group">
	      <label for="description">Description:</label>
	      <input type="text" class="form-control" id="description" placeholder="Description" name="description">
	    </div>
	    <input type="submit" id="submitBtn" class="btn btn-default" value="Add the friend"></input>
	</form>
	<h3><a href="/">Back</a></h3>
</div>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/hci-friends.js"></script>
</body>
</html>
