<!doctype html>

<html>
<head>
	<title>Detailed Information</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootswatch.min.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">
	<link href="/css/slideshow.css" rel="stylesheet">

</head>

<body>

	<div class="top_bar">
		<div class="menu_bar">
			<div class="btn-group">
		  		<button type="button" id="home_dropdown" class="btn btn-default btn-lg" data-toggle="dropdown">
  				<span class="glyphicon glyphicon-home"></span>
				</button>
		  		<ul class="dropdown-menu" role="menu">
		    		<li><a href="/menu">Home Menu</a></li>
		    		<li><a href="/about">About</a></li>
		  		</ul>
			</div>
		</div>
		<h4 class="subtitle" id="createprof">Detailed Information</h4>
		

	</div>
	
<div class="container" id="newprof_bg">
	<h5 id="detailtitle">Costa Verde</h5>
	 <div id="mainContainer">
        <div id="mainImage">
            <img src="http://www.gardencommunitiesca.com/Apartment-Rentals/CA/San-Diego/Costa-Verde-Village/Home/CostaVerdeVillage-7.aspx?width=400" />
        </div>

        <div id="thumbnails">
            <img class="imgThumbnails" src="http://www.gardencommunitiesca.com/Apartment-Rentals/CA/San-Diego/Costa-Verde-Village/Home/CostaVerdeVillage-7.aspx?width=400"/>
            <img class="imgThumbnails" src="http://www.gardencommunitiesca.com/Apartment-Rentals/CA/San-Diego/Costa-Verde-Village/Home/CostaVerdeVillage-8.aspx?width=400"/>
            <img class="imgThumbnails" src="http://www.gardencommunitiesca.com/Apartment-Rentals/CA/San-Diego/Costa-Verde-Village/Home/CostaVerdeVillage-2.aspx?width=400" />

        </div>
    </div>
    <div id="imgCaption">
    </div>
    <ul>
    	<li>Rent:$760</li>
    	<li>Utility:$50/month</li>
    	<li>Address:Costa Verde</li>
    	<li>One Bedroom</li>
    	<li>Private Bathroom</li>
    	<li>No Pet</li>
    </ul>
    <p>We have 4 students living in this house.　We are all biology major. One of us considered to move out due to graduation. We are willing to find a new friendly roommate. She has to be female and quiet. We prefer sleep early at night. </p>
    <button id="detail_back" class="btn btn-info">Back</button>
    <button id="contact" class="btn btn-info">Contact</button>
</div>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/handlebars.js"></script>
	<script src="js/ucsdrentals.js"></script>
	<script src="js/slideshow.js"></script>
	<script src="js/bootbox.js"></script>
</body>
</html>
