<!doctype html>

<html>
<head>
  <!-- Google Analytics Content Experiment code 
<script>function utmx_section(){}function utmx(){}(function(){var
k='83049688-1',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
 End of Google Analytics Content Experiment code -->
  <title>Detailed Information</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootswatch.min.css" rel="stylesheet">
  <link href="/css/index.css" rel="stylesheet">
  <link href="/css/slideshow.css" rel="stylesheet">
  <link rel="shortcut icon" href="/icon/favicon.ico">

  <style>
    /* Prevent the slideshow from flashing on load */
    #slides {
      display: none
    }

    /* Center the slideshow */
    .container {
      margin: 0 auto
    }

    /* Show active item in the pagination */
    .slidesjs-pagination .active {
      color:red;
    }

    /* Media quires for a responsive layout */

    /* For tablets & smart phones */
    @media (max-width: 767px) {
      body {
        padding-left: 10px;
        padding-right: 10px;
      }
      .container {
        width: auto
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .container {
        width: auto
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .container {
        width: 724px
      }
    }

    /* For larger displays 
    @media (min-width: 1200px) {
      .container {
        width: 1170px
      }
    }*/
  </style>

</head>

<body>

  <div class="top_bar">
    <div class="menu_bar">
      <div class="btn-group">
          <button type="button" id="home_dropdown" class="btn btn-default btn-lg" data-toggle="dropdown">
          <span class="glyphicon glyphicon-home"></span>
        </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/menu">Home Menu</a></li>
            <li><a href="/about">About</a></li>
            <li><a class="logoutgroup" href="">Logout</a></li>
          </ul>
      </div>
    </div>
    <h4 id="detailinfo" >Detailed Information</h4>
    

  </div>

  <table class="user_table">
    <tr>
      <td class="user_name">Hello, User</td>
    </tr>
  </table>

  <h3 id="detailtitle">Regents Court #110</h3>
  <!--
<div class="container" id="newprof_bg">
  <ul class="nav nav-tabs ">
      <li><a href="/newp">New</a></li>
      <li><a href="/existing">Existing</a></li>
      <li><a href="#" class="logoutgroup name_sp">Log Out</a></li>
  </ul>
  <table class="user_table">
    <tr>
      <td class="user_name">Hello, User</td>
    </tr>
  </table>
  <div id="detailtitle">Regents Court #110</div>
   <div id="mainContainer">
        <div id="mainImage">
            <img src="http://www.gardencommunitiesca.com/Apartment-Rentals/CA/San-Diego/Costa-Verde-Village/Home/CostaVerdeVillage-7.aspx?width=400" />
        </div>

        <div id="thumbnails">
            <img id = "sl1" class="imgThumbnails" src="http://www.gardencommunitiesca.com/Apartment-Rentals/CA/San-Diego/Costa-Verde-Village/Home/CostaVerdeVillage-7.aspx?width=400"/>
            <img id = "sl2" class="imgThumbnails" src="http://www.gardencommunitiesca.com/Apartment-Rentals/CA/San-Diego/Costa-Verde-Village/Home/CostaVerdeVillage-8.aspx?width=400"/>
            <img id = "sl3" class="imgThumbnails" src="http://www.gardencommunitiesca.com/Apartment-Rentals/CA/San-Diego/Costa-Verde-Village/Home/CostaVerdeVillage-2.aspx?width=400" />

        </div>
    </div>
    <div id="imgCaption">
    </div>
-->
    <!-- SlidesJS Required: Start Slides -->
  <!-- The container is used to define the width of the slideshow -->
  <div class="container">
    <div id="slides">
      <img id="slidepic" src="http://www.gardencommunitiesca.com/Apartment-Rentals/CA/San-Diego/Costa-Verde-Village/Home/CostaVerdeVillage-7.aspx?width=400" alt="Photo by: Missy S Link: http://www.flickr.com/photos/listenmissy/5087404401/">
      <img id="slidepic" src="http://www.gardencommunitiesca.com/Apartment-Rentals/CA/San-Diego/Costa-Verde-Village/Home/CostaVerdeVillage-8.aspx?width=400" alt="Photo by: Daniel Parks Link: http://www.flickr.com/photos/parksdh/5227623068/">
      <img id="slidepic" src="http://www.gardencommunitiesca.com/Apartment-Rentals/CA/San-Diego/Costa-Verde-Village/Home/CostaVerdeVillage-2.aspx?width=400" alt="Photo by: Stuart SeegerLink: http://www.flickr.com/photos/stuseeger/97577796/">
    </div>
  </div>
  <!-- End SlidesJS Required: Start Slides -->

    <table id="infolist" border="1">
      <tr>
        <td>Rent:</td>
        <td>$860</td>   
      </tr>
      <tr>
        <td>Utility:</td>
        <td>$50/month</td>
      </tr>
      <tr>
        <td>Address:</td>
        <td>Regents Court #110</td>
      </tr>
      <tr>
        <td>Room Type:</td>
        <td>One Bedroom</td>
      </tr>
      <tr>
        <td>Other:</td>
        <td>Private Bathroom, no pet</td>
      </tr>
    </table>
    <p id="story">We have 3 students living in this house.　We are all math major. One of us considered to move out due to graduation. We are willing to find a new friendly roommate. She has to be female and quiet. We prefer sleep early at night.</p>
    <button id="detail_back" class="btn btn-primary detailed">Back</button>
    <button id="contact" class="btn btn-primary detailed">Contact</button>
</div>
  <script src="js/jquery-1.11.0.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/handlebars.js"></script>
  <script src="js/ucsdrentals.js"></script>
  <script src="js/bootbox.js"></script>

  <!-- SlidesJS Required: Link to jQuery -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <!-- End SlidesJS Required -->

    <!-- SlidesJS Required: Link to jquery.slides.js -->
    <script src="js/jquery.slides.min.js"></script>
    <!-- End SlidesJS Required -->

    <!-- SlidesJS Required: Initialize SlidesJS with a jQuery doc ready -->
    <script>
      $(function() {
        $('#slides').slidesjs({
          width: 940,
          height: 528
        });
      });
    </script>
  <!-- End SlidesJS Required -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48706855-1', 'ucsdrentals.herokuapp.com');
  ga('send', 'pageview');

</script>
</body>
</html>
