<!doctype html>

<html>
<head>
	<title>UCSDRentals</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" >

	<link href="/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="bootswatch.min.css">
	<link href="/css/index.css" rel="stylesheet">

</head>

<body>
<div class="container" id="home_bg">
	<h1 id="appname">UCSDRentals</h1>
	<form id="login" role="form" method="get" action="/menu" onsubmit="return validateInfo();">
	    <div class="form-group">
	      <label class="email_label" for="email">Your UCSD Email:</label>
	      <input type="text" class="form-control" id="email" placeholder="Example@ucsd.edu" name="email">
	    </div>
	    <div class="form-group">
	      <label class="password_label" for="password">Password:</label>
	      <input type="password" class="form-control" id="password" placeholder="Password" name="password">
	    </div>
	    <div class="form-group">
	      <input type="submit" class="form-control btn-primary disabled" id="signup" class="btn" value="Sign Up"></input>
	      <input type="submit" class="form-control btn-primary" id="login_btn" class="btn" value="Log In"></input>
	    </div>
	</form>
	<script src="js/handlebars.js"></script>
</div>

</body>
</html>

