<!doctype html>

<html>
<head>
	<title>UCSDRentals</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" >
	<link rel="stylesheet" type="text/css" href="css/webflow.css">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">

	<link href="/css/index.css" rel="stylesheet">

</head>

<body>
<div class="container" id="home_bg">
	<h1 id="appname">UCSDRentals</h1>
	<div class="logo">
		<img id="logo" src="http://upload.wikimedia.org/wikipedia/en/thumb/4/42/UCSD_Seal.svg/200px-UCSD_Seal.svg.png" />
	</div>

	<form id="login" role="form" method="get" action="/menu">
	    <div class="form-group">
	      <label class="welcome_label" for="email">Your UCSD Email:</label>
	      <input type="text" class="form-control" id="email" placeholder="Example@ucsd.edu" name="email">
	    </div>
	    <div class="form-group">
	      <label class="welcome_label" for="password">Password:</label>
	      <input type="text" class="form-control" id="password" placeholder="Password" name="password">
	    </div>
	    <div class="form-group">
	      <input type="submit" class="form-control btn-primary" id="signup" class="btn" value="Sign Up"></input>
	      <input type="submit" class="form-control btn-primary" id="login" class="btn" value="Log In"></input>
	    </div>
	</form>
</div>

</body>
</html>
