<!doctype html>

<html>
<head>
	<title>Current Matches</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootswatch.min.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">

	<style>
      #map_canvas {
      	position:absolute;
      	top: 150px;
        width: 100%;
        height: 100%;
        background-color: #CCC;
        padding: 10px 20px;
        bottom: 0;
        box-sizing: border-box;
      }
    </style>

	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
	</script>

	<script>
	var center_UCSD = new google.maps.LatLng(32.877491,-117.235276);

	function initialize()
	{
	var mapCanvas = document.getElementById('map_canvas');
	var mapProp = {
	  center:center_UCSD,
	  zoom:13,
	  mapTypeId:google.maps.MapTypeId.ROADMAP
	  }
	var map=new google.maps.Map(document.getElementById("map_canvas")
	  ,mapProp);
	
	var ucsd = new google.maps.Marker({
		position:center_UCSD,
		icon: {
	      path: google.maps.SymbolPath.CIRCLE,
	      scale: 10
	    }
	});
	ucsd.setMap(map);

	//{{#each matches}}
		var match = new google.maps.LatLng({{lat}},{{lon}});
		var marker = new google.maps.Marker({
			position:match,
		//icon: '/icons/house.png'
		});
		marker.setMap(map);
		var msg = "{{name}}";
		var infowindow = new google.maps.InfoWindow({
			content:"{{name}}"
			//icon: '/icons/house.png'
		});

		google.maps.event.addListener(marker,'click',function(){
			infowindow.open(map,marker);
			window.location = "../detailedInfo";
		})
		//console.log("haha");
	//{{/each}}

	}

	google.maps.event.addDomListener(window, 'load', initialize);
	</script>
</head>

<body>
	<div class="top_bar">
		<div class="menu_bar">
			<div class="btn-group">
		  		<button type="button" id="home_dropdown" class="btn btn-default btn-lg" data-toggle="dropdown">
  				<span class="glyphicon glyphicon-home"></span>
				</button>
		  		<ul class="dropdown-menu" role="menu">
		    		<li><a href="/menu">Home Menu</a></li>
		    		<li><a href="/about">About</a></li>
		  		</ul>
			</div>
		</div>
		<h4 class="subtitle" id="matchprof">Current Matches</h4>
	</div>
<div class="container">
	<ul class="nav nav-tabs ">
  		<li><a href="/newp">New</a></li>
  		<li><a href="/existing">Existing</a></li>
  		<li class="active"><a href="/matches">Matches</a></li>
	</ul>
</div>
<div><a href="detailedInfo">Test</a></div>
<div id="map_canvas" align="center"></div>

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/ucsdrentals.js"></script>
</body>
</html>
