<!doctype html>

<html>
<head>
	<title>UCSDRentals</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/webflow.css">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">
</head>

<body>
<div class="container">
	<h2 id="menu_title">Welcome to UCSD Rentals</h2>

	<form id="menu" role="form" method="get" action="">

	    <div class="form-group">
	      <input type="button" id="createNew" class="menu form-control btn-block btn btn-primary" value="Create A New Profile"></input>
	    </div>
	   	<div class="form-group">
	      <input type="button" id="viewExisting" class="menu form-control btn-block btn btn-primary" value="View Existing Profiles"></input>
	    </div>
	    <div class="form-group">
	      <input type="button" id="new_update" class="menu form-control btn-block btn btn-primary disabled" value="What's New"></input>
	    </div>
	    <div class="form-group">
	      <input type="button" id="logout" class="menu form-control btn-block btn btn-primary" value="Log Out"></input>
	    </div>
        <div class="form-group2">
		    <div class="form-group">
		      <input type="button" id="new_update" class="menu2 form-control  btn btn-primary disabled" value="Settings"></input>
		    </div>
		    <div class="form-group">
		      <input type="button" id="check_msg" class="menu2 form-control  btn btn-primary disabled" value="Favorites"></input>
		    </div>
		    <div class="form-group">
		      <input type="button" id="about" class="menu2 form-control btn btn-primary disabled" value="About"></input>
		    </div>
		</div>

	</form>
</div>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/ucsdrentals.js"></script>
	


</body>
</html>
