<!doctype html>

<html>
<head>
	<title>UCSDRentals</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/webflow.css">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootswatch.min.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">
</head>

<body>

	<h2 id="menu_title">Welcome to UCSD Rentals</h2>
<div class="container">
	<p class="user_name">Hello, User</p>
	<form id="menu" role="form" method="get" action="">

	    <div class="form-group">
	      <input type="button" id="createNew" class="menu form-control btn-block btn btn-primary" value="Create A New Profile"></input>
	    </div>
	   	<div class="form-group">
	      <input type="button" id="viewExisting" class="menu form-control btn-block btn btn-primary" value="View Existing Profiles"></input>
	    </div>
	    <div class="form-group">
	      <input type="button" id="new_update" class="menu form-control btn-block btn btn-primary disabled" value="What's New"></input>
	    </div>
	    <div class="form-group">
	      <input type="button" id="logout" class="menu form-control btn-block btn btn-primary" value="Log Out"></input>
	    </div>
        <div class="form-group2">

		  	<div class="form-group">
		      <button type="button" id="about" class=" btn btn-primary btn-default btn-lg" value="About">
		      <span class="glyphicon glyphicon-info-sign"></span> 
		      </button>
		    </div>
			<div class="form-group">
		      <button type="button" id="settings" class="btn btn-primary disabled btn-default btn-lg" value="Settings">
		        <span class="glyphicon glyphicon-cog"></span>
		        <span class="glyphicon glyphicon-wrench"></span>
			  </button>
		    </div>
<!--		    <div class="form-group">
		      <button type="button" id="check_msg" class="menu2 form-control  btn btn-primary disabled btn-default btn-lg" value="Favorites">
		      <span class="glyphicon glyphicon-star"></span>
		      </button>
		    </div>      -->


	</form>
</div>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/ucsdrentals.js"></script>



</body>
</html>



