<!doctype html>

<html>
<head>
	<title>Create New Profile</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">
</head>

<body>
<div class="container">
	<h3>Create Housing Profile</h3>
	<div class="block" id="b1">
		<button type="button" class="btn btn-danger btn-lg btn-block">Type</button>
		<button type="button" class="btn btn-danger btn-lg btn-block">Date</button>
	</div>
	<div class="block" id="b1">
		<button type="button" class="btn btn-danger btn-lg btn-block">Rent</button>
		<button type="button" class="btn btn-danger btn-lg btn-block">Property</button>
	</div>
	<div class="block" id="b1">
		<button type="button" class="btn btn-danger btn-lg btn-block">Address</button>
		<button type="button" class="btn btn-danger btn-lg btn-block">Other</button>
	</div>
</div>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/ucsdrentals.js"></script>

</body>
</html>
