<html>
<head>
	<title>UCSDRentals</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" >

	<link href="/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/bootswatch.min.css">
	<link href="/css/index.css" rel="stylesheet">

</head>

<body>
		<div class="top_bar">
		<div class="menu_bar">
			<div class="btn-group">
		  		<button type="button" id="home_dropdown" class="btn btn-default btn-lg" data-toggle="dropdown">
  				<span class="glyphicon glyphicon-home"></span>
				</button>
		  		<ul class="dropdown-menu" role="menu">
		    		<li><a href="/menu">Home Menu</a></li>
		    		<li><a href="/about">About</a></li>
		  		</ul>
			</div>
		</div>
		<h1 id="sign_up_title">Setting</h1>
		

	</div>

<div class="containersetting" >

	<div id="setting">
		<form id="setting_form" role="form" method="get" action="">
			{{#each User}}
		   		<div class="form-group">			   			
		   			<label id="settinglabel">{{label}}: </label>
		   			<input type="text" name="{{label_id}}" value="{{value}}"></br>

		   		</div>
		    {{/each}}
	    	<button type="button" id="setting_save" class="btn btn-primary">Save</button>
		</form>
	</div>
</div>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/ucsdrentals.js"></script>
	<script src="js/setting.js"></script>


</body>
</html>