
#logo {
	margin-left:75px;
	width: 160px;
	margin-bottom:20px;
}

body {
}
#home_bg {
	background-color:#0D648D;
}

h1,h2,h3,h4 {

	color:white;
	background-color:#0D648D;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	padding-top:20px;
	padding-bottom:10px;

}

.block {
	width:33.33%;
}

#b1, #b2, #b3 {
	float:left;
}

#appname{
	font-size:;
}

.welcome_label {
	text-align:center;
	color:white;
	width:100%;
	font-weight:bold;
	font-size:16pt;
}

input#signup, input#login_btn, button#save, button#ss {
	width:50%;
	float:left;
	font-weight:bold;
	height:30pt;
	margin-bottom:30px;
	margin-top:30px;
}



input.menu {
	margin-bottom:30px;
	font-weight:bold;
	height:40pt;
	font-size:16pt;
}

input.menu2 {
	margin-bottom:30px;
	font-size:16pt;
	height:40pt;
	width:33.33%;
	float:left;

}

h2 #menu_title{
	font-family: Oswald, sans-serif;
}

.block .btn-block {
	height:80pt;
}
.nav li {
	width:33.33%;
}
.nav li a {
	padding:5px 10px;
}
.nav {
	clear:both;

}


.menu_bar {
	float:left;
	margin-left:15px;
	margin-top:10px;
}