/*

#mainContainer {    
    width: 250px;
    height: 300px;
}

#mainImage {
    margin: auto;      
    height: 200px;  
}

#mainImage img {
    margin: 10px;  
    width: 250px;
    height: 180px; 
}



.imgThumbnails:hover {
    cursor: pointer;
    }*/

#details {
    position: relative;
    max-width: 600px;
    margin: 3rem auto 0;
}

.imgThumbnails {
    margin: 0 auto;
    height: 70px;
    width: 70px;
    display: inline;
}

#slides-wrap {
    position: relative;
    max-width: 600px;
    margin: 3rem auto 0;
}

#slidepic {
    padding: 0;
}

.slidesjs-pagination {
    margin: 0 auto;
    padding: 0;
}

.slidesjs-pagination li {
    display: inline-block;
    margin: .5em .5em 0 0;
}
